#question{
    text-align: center;
    max-width: 500px;
    background: linear-gradient(140deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232, 1) 100%);
    border-radius: 1rem;
    padding: 1.0rem;
    font-family: 'Kurale', serif;
}

#question h2 {
    margin-bottom: 2rem;
    font-family: 'Kurale', serif;
}

#question p {
    margin-bottom: 1rem;
    font-family: 'Kurale', serif;
    font-size: 1.2rem;
}

#question button{
    border: 2px solid #fff;
}

@media (max-width: 768px){
    #question{
        max-width: 90%;
    }

    #options-container{
        max-width: 90%;
        margin: 0 auto;
    }
}