#welcome{
    text-align: center;
    max-width: 500px;
}

#welcome h2,
#welcome p {
    margin-bottom: 1rem;
}

#welcome p {
    color: #8435de;
}

#welcome img{
    margin-top: 2rem;
    width: 360px;
    height: 300px;
}

@media (max-width: 768px){
    #welcome p{
        max-width: 60%;
        margin: 0 auto 1.8rem;
    }
    #welcome img{
        width: 330px;
    }
}